@(searchResult: Option[Html], suggest: Option[String])

    @main("Welcome to Play 2.1") {

        @if(suggest.isDefined) {
            <h1><a href="@routes.Application.index(suggest)">Did you mean: @suggest</a></h1>
        }

        <form action="@routes.Application.index()" method="GET">
            <input name="query">
            <input type="submit" value="search">
        </form>


        @{
            searchResult match {
                case Some(queryText) => queryText
                case None => ""
            }
        }
    }
